@import "./_mixin.scss";

/*********************************************/
/*                   fade in                 */
/*********************************************/
/* →上からくる動作 */
.fadein_top {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: opacity 2s, -webkit-transform 2s;
  transition: opacity 2s, -webkit-transform 2s;
  transition: opacity 2s, transform 2s;
  transition: opacity 2s, transform 2s, -webkit-transform 2s;
}
/*  →左からくる動作 */
.fadein_left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity 2s, -webkit-transform 1s;
  transition: opacity 2s, -webkit-transform 1s;
  transition: opacity 2s, transform 1s;
  transition: opacity 2s, transform 1s, -webkit-transform 1s;
}
/* →右からくる動作 */
.fadein_right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
  -webkit-transition: opacity 2s, -webkit-transform 1s;
  transition: opacity 2s, -webkit-transform 1s;
  transition: opacity 2s, transform 1s;
  transition: opacity 2s, transform 1s, -webkit-transform 1s;
}
/* →下からくる動作 */
.fadein_bottom {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 2s, -webkit-transform 2s;
  transition: opacity 2s, -webkit-transform 2s;
  transition: opacity 2s, transform 2s;
  transition: opacity 2s, transform 2s, -webkit-transform 2s;
}
.fadein_bottom_10 {
  transform: translateY(10%);
  opacity: 0;
  -webkit-transition: opacity 2s, -webkit-transform 2s;
  transition: opacity 2s, -webkit-transform 2s;
  transition: opacity 2s, transform 2s;
  transition: opacity 2s, transform 2s, -webkit-transform 2s;
}
.fadein_bottom_50 {
  transform: translateY(50%);
  opacity: 0;
  -webkit-transition: opacity 2s, -webkit-transform 2s;
  transition: opacity 2s, -webkit-transform 2s;
  transition: opacity 2s, transform 2s;
  transition: opacity 2s, transform 2s, -webkit-transform 2s;
}
/* ②の１、に対して： */
.top_in_active {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.left_in_active {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.right_in_active {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.bottom_in_active {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
