@import "./_animation.scss";
@import "./_common.scss";

/*********************************/
/*            PC Base            */
/*********************************/
html {
  font-size: 10px;
}

#index {
  & .top {
  }
  & .message {
  }
}

/*********************************/
/*        PC Responsive 1        */
/*********************************/
@media (min-width: 769px) and (max-width: 1279px) {
  html {
    font-size: 10px;
  }

  #index {
    & .top {
    }
    & .message {
    }
  }
}

/*********************************/
/*        PC Responsive 2        */
/*********************************/
@media (min-width: 769px) and (max-width: 1279px) {
  html {
    font-size: 10px;
  }

  #index {
    & .top {
    }
    & .message {
    }
  }
}

/*********************************/
/*              SP 1             */
/*********************************/
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }

  #index {
    & .top {
    }
    & .message {
    }
  }
}
